.in-common {
  width: 21.24rem;
  height: 2.54rem;
  border-radius: 0.375rem;
  border: 2px solid #3580e4;
  transition: border 0.1s ease, box-shadow 0.1s ease;
}
.in-common:focus {
  outline: none;
  border-radius: 0.4rem;
  border: 5px solid #3580e4;
}
