<main class="mn-register">
  <section class="register-presentation">
    <app-presentation [imageSource]="imageSourcePage"></app-presentation>
  </section>
  <section class="register-content">
    <div class="register-form">
      <div class="register-inside-form">
        <h1
          class="text-enter-register"
          style="color: #0b2f64; font-size: 2.375rem"
        >
          Registre-se
        </h1>
        <form
          class="form-register"
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >
          <app-message
            *ngIf="hasErrorInForm && submeted"
            [messages]="messageError"
          ></app-message>

          <app-input-common
            class="input-register"
            id="email"
            type="email"
            placeholder="Digite seu E-mail"
            formControlName="emailClient"
          ></app-input-common>
          <app-input-common
            class="input-register"
            id="name"
            type="text"
            placeholder="Nome Completo"
            formControlName="completeName"
          ></app-input-common>
          <app-input-common
            class="input-register"
            [classD]="!isCpfInvalid ? 'in-common' : 'in-common-fails'"
            id="document"
            type="text"
            placeholder="CPF"
            formControlName="document"
            mask="000.000.000-00"
          ></app-input-common>
          <app-input-common
            class="input-register"
            id="celphone"
            type="text"
            placeholder="Celular"
            formControlName="celphone"
            mask="(00) 9000000000"
          ></app-input-common>
          <app-input-common
            class="input-register"
            id="cep"
            type="text"
            placeholder="CEP"
            formControlName="cep"
            mask="00000-000"
          ></app-input-common>
          <app-input-common
            class="input-register"
            id="city"
            type="text"
            placeholder="Cidade"
            formControlName="city"
            [deactivated]="true"
          ></app-input-common>
          <app-input-common
            class="input-register"
            id="neighborhood"
            type="text"
            placeholder="Bairro"
            formControlName="neighborhood"
            [deactivated]="true"
          ></app-input-common>
          <app-input-common
            class="input-register"
            id="street"
            type="text"
            placeholder="Rua"
            formControlName="street"
            [deactivated]="true"
          ></app-input-common>
          <app-input-common
            class="input-register"
            id="streetNumber"
            type="text"
            placeholder="Numero"
            formControlName="streetNumber"
          ></app-input-common>

          <button
            [ngClass]="
              hasErrorOrInvalidForm
                ? 'register-button-deactived'
                : 'register-button'
            "
            (ngSubmit)="onSubmit()"
            [formGroup]="registerForm"
            [disabled]="hasErrorOrInvalidForm"
          >
            OK
          </button>
          <!--[disabled]="hasErrorOrInvalidForm" -->
        </form>
      </div>
    </div>
  </section>
</main>
