<div class="mn-header">
  <a routerLink="" >
    <img src="assets/images/logo-safe-change.svg" alt="logotipo" class="logo" />
  </a>
  <div class="header-menu-itens">
    <nav class="header-menu-nav">
      <ul class="header-menu">
        <span>
          <a class="header-link" routerLink="/">rastrear troca</a>
        </span>
        <span>
          <a class="header-link" routerLink="/">ajuda</a>
        </span>
        <span>
          <a class="header-link" routerLink="/">quem somos?</a>
        </span>
        <span>
          <app-register></app-register>
        </span>
      </ul>
    </nav>
  </div>
</div>
<div class="header-division"></div>
