.login-button {
  background-color: #3580e4;
  border: none;
  width: 59px;
  color: #ffffff;
  font-size: larger;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:active {
  background-color: #0B2F64;
}

.error {
  padding-top: 1rem;
  color: red;
}

.mn-login {
  display: grid;
  gap: 30px;
  grid-template-columns: 1.75fr 1fr;
  min-height: 80vh;
  padding: 1.5rem;
  align-content: center;
}

.login-form {
  background-color: #dbe6f5;
  border-radius: 1rem;
  box-shadow: 8px 8px 4px #0411242b;
  padding: 2rem;
}

.input-login {
  padding-right: 1rem;
}

.text-enter-login {
  margin: 0;
}

.form-login {
  display: inline-flex;
  padding-top: 0.5rem;
}

.login-legal-text {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  padding: 2rem;
  text-align: left;
}

.login-legal-text p {
  padding-right: 2rem;
  text-align: left;
}

.login-img-icon {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
}

.login-insurance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.login-insurance > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-insurance > div > p {
  font-size: medium;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .mn-login {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .login-legal-text {
    grid-column: auto;
    grid-row: auto;
    padding: 1rem;
    text-align: center;
  }

  .login-form {
    padding: 1.5rem;
  }

  .form-login {
    display: inline-flex;
    padding-top: 0.5rem;
    width: 100%;
    justify-content: space-between;
  }

  .login-insurance {
    flex-direction: column;
    gap: 20px;
  }

  .login-insurance > div {
    justify-content: center;
  }

  .input-login {
    width: 70%;
  }
}
