.error {
  padding-top: 1rem;
  color: red;
}

.mn-login {
  display: grid;
  gap: 30px;
  grid-template-columns: 1.75fr 1fr;
  min-height: 80vh;
  padding: 1rem;
  align-content: center;
}

.login-form {
  background-color: #dbe6f5;
  border-radius: 1rem;
  box-shadow: 8px 8px 4px #0411242b;
}