
<main class="mn-login">
  <section class="login-presentation">
    <app-presentation [imageSource]="imageSourcePage"></app-presentation>
  </section>
  <section class="login-content">
    <div class="login-form">
      <div class="login-inside-form">
        <h1 class="text-enter-login" style="color: #0b2f64; font-size: 2.375rem">
          Trocas entre pessoas, sem complicações.
        </h1>
        <h1
          class="text-enter-login"
          style="font-size: 1.8rem; color: #0b2f64; padding-top: 2.5rem"
        >
          Entrar
        </h1>
        <form
          class="form-login"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <app-input-common
            class="input-login"
            id="email"
            type="email"
            placeholder="Digite seu E-mail"
            formControlName="emailClient"
          ></app-input-common>
          <button
            class="login-button"
            type="submit"
            [disabled]="loginForm.get('emailClient')?.invalid"
          >
            OK
          </button>
        </form>
        <div
          style="position: absolute; display: flex; padding-top: 0.6rem;"
          class="error"
          *ngIf="
            loginForm.get('emailClient')?.invalid &&
            loginForm.get('emailClient')?.touched
          "
        >
          <span *ngIf="loginForm.get('emailClient')?.errors?.['email']"
            >Formato de e-mail inválido.</span
          >
        </div>
        <a
          style="color: #0b2f64; padding-top: 2rem; display: block"
          routerLink=""
          >esqueci meu e-mail</a
        >
      </div>
    </div>
    <section class="login-legal-text" style="color: #666">
      <h3>Termo de Responsabilidade – SafeChange</h3>
      <p>
        A SafeChange atua exclusivamente como plataforma intermediadora de
        trocas de bens entre pessoas físicas, com o compromisso de oferecer
        segurança, transparência e idoneidade durante todo o processo...
        <a routerLink="">Ler mais</a>
      </p>
    </section>
    <section class="login-insurance">
      <div>
        <img
          class="login-img-icon"
          src="assets/images/secure-icon-green.png"
          alt=""
        />
        <p>Transação segura</p>
      </div>
      <div>
        <img
          class="login-img-icon"
          src="assets/images/secure-icon-blue.png"
          alt=""
        />
        <p>Garantia de serviço</p>
      </div>
    </section>
  </section>
</main>
