.mn-footer {
  display: block;
  align-content: center;
  justify-items: center;
  width: 100vw;
  height: 10vh;
  margin-bottom: 0;
  position: relative;
  background-color: white;
}
.mn-footer p {
  font-size: 0.85rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
  font-style: italic;
  color: grey;
}

.copyright {
  font-size: 0.85rem !important;
  font-weight: bold !important;
  color: black !important;
}
